* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 15px;
}

.bordes-redondeados {
  border-radius: 10px;
  background-position: center;
}
.bordes {
  border-radius: 10px;
}
.contacto-title {
  margin: 100px 50px 50px 50px;
}

.letra {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: black; 
}

.footer-titulo {
  text-align: center;
  margin: 0px 0px 10px;
  color: white;
}

.ancho-mitad {
  width: 50%;
}

.ancho-completo {
  width: 100%;
  display: flex;
}

.campo {
  display: block;
  margin-bottom: 15px  ;
  
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  margin: 100px 100px  0px 100px;text-align:center
  ;
}

h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  margin: 5px;
  ;
}

.video {
  display: block;
  margin: auto;
  margin-bottom: 90px;
  margin-top: 60px
}
.texto-derecha {
  text-align: right
  ;

}

.site-footer {
  display: flex;
  padding: 15px;
}

.texto-centro {
  text-align: center;
  padding: 150px 0;
  font-size: large;
}

.contacto {
  background-color: rgb(255, 255, 255);
  border: rgb(255, 255, 255);
  padding: 50px;
  margin: 0 0 100px 25px
}
.header-img {
  display: block;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}



.boton-formulario {
  display: block;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
}

.flex-evenly {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-evenly > img {
  margin: 100px;
  height: 200px;
}

.icono-footer {
  margin: 20px 20px 20px 20px;
}

.productos-destacados {
  margin: 120px 15px 120px 120px;
}

.letra-footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.media {
  display: flex;
  align-items: flex-start;
}
.media .content {
  flex: 1;
  padding: 10px;
}
    
ul{list-style:none;margin:0px;padding:0px;clear:both;}
ul li{margin:0px 10px;padding:0px;float:left; }
ul li a{display:block;text-decoration:none}

ul#efecthover li a{
  position: relative;
  color: rgb(255, 251, 251);
  font-weight:bold;
  -ms-interpolation-mode: inherit;
  
}
ul#efecthover li a:before{
  position: absolute;
  color: #a005dd;
  content:attr(title);
  left:0px;
  top:0px;
  max-width:0%;
  white-space: nowrap;
  overflow:hidden;
  transition: max-width 0.3s linear;
  

}
ul#efecthover li a:hover:before{
  max-width:100%; 
}

Header{
 background-color: black;margin: 0px 0px 50px 0px;
 padding: 25px;
}