$title-font: normal 38px/1.5 'Arial Narrow', Arial, sans-serif ;
$lila: #a491be;
$clarito: #ffffff;
$white: #FFFFFF;

body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif; 
    padding-bottom: 15px;
  }

  h1 {font: $title-font;
    color: rgb(0, 0, 0);
    margin: 100px 100px  0px 100px;text-align:center
    ;}

  h2{font: $title-font;
    color: rgb(0, 0, 0);
    margin: 100px 100px  0px 100px;text-align:center
    ;}
    


div {
  
  margin: 0 auto;
  padding: 20px;
  & h5 {
    color: $clarito;
  }
  & li {
    color: $white;
  }
}

  

  